<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>What's on your plate?</title>
		<%= stylesheet_link_tag :all %>
	</head>
	<body>
		<div align="right" class="user_nav">
			<br/>
			<% if !current_user %>
				<%= link_to "I want a plate!", new_account_path %> |
				<%= link_to "Login", login_path %>
			<% else %>
				<%= link_to "Logout", logout_path, :method => :delete %>
			<% end %>
			&nbsp;&nbsp;
		</div>
		<table style="height: 100%" align="center" valign="middle">
			<tr>
				<td>
					<%= yield %>
				</td>
			</tr>
		</table>
	</body>
</html>